//
   Created by leedong-ho on 2014. 6. 29..
extends layout
block content
    div(data-role='page', id='auth-email-page', data-dom-cache='false')
        div(data-role='header')
            h1 Resubmit Auth Mail
        div(role='main' class='ui-content')
            form(action='/user/auth/email', method='post', id='auth-email-form', data-ajax='false')
                div(class='ui-field-contain')
                    label email
                    input(type='text', id='email', name='email', placeholder='id@email.com', value='', data-rule-required='true', data-rule-email='true')
                button(type='submit') Submit
                a(href='/user/signup', class='ui-btn ui-shadow ui-corner-all', data-dom-cache='false') login
                a(href='/user/signup', class='ui-btn ui-shadow ui-corner-all', data-dom-cache='false') signup
        script(src='/javascripts/libs/jquery.form.min.js', type='text/javascript')
        script(src='/javascripts/authMail.js', type='text/javascript')