//
   Created by leedong-ho on 2014. 6. 29..
extends layout
block content
    div(data-role='page', id='authed-email-page', data-dom-cache='false')
        if authed
            div(data-role='header')
                h1 Email is Authenticated
            div(role='main' class='ui-content')
                p Congraturation! Your email is authenticated. You can try log on Quizy.
                a(href='/user/login', class='ui-btn ui-shadow ui-corner-all', data-dom-cache='false') login
        else
            div(data-role='header')
                h1 Email is not Authenticated
            div(role='main' class='ui-content')
                p Autheication is fail! please try again!
                a(href='/user/auth/email', class='ui-btn ui-shadow ui-corner-all', data-dom-cache='false') Resubmit authentication mail