//
   Created by leedong-ho on 2014. 5. 18..

extends layout
block stylesheets
block content
    div(data-role='page', class='quiz-page', data-dom-cache='false', id='creating-quiz-page')
        div(data-role='header')
            a(href='/user', class='ui-btn ui-icon-arrow-l ui-corner-all ui-btn-b ui-btn-icon-left ui-shadow-icon') Home
            h1 Create Quiz
        div(role='main' class='ui-content')
            form(action='/quiz/new',method='post', id='quiz-form')
                div(class='ui-field-contain')
                    label Quiz subject :
                    input(type='text', name='quiz_sbjt', placeholder='Input Quiz Subject', required)

            ul(data-role='listview', data-icon='plus', data-theme='a', data-split-theme='a', data-inset='true')
                li
                    a(href='#', onclick='addMc()')
                        h2 Multiple Choice
                li
                    a(href='#', onclick='addSa()')
                        h2 Short Answer

            div(data-role='popup', id='edit-mc-ques', data-inset='true')
                div(role='main', class='ui-content')
                    form
                        input(type='text', name='item', placeholder='Input Question', required)
                        label Correct
                            input(type='checkbox')
                        button(type='button', class='ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check', onclick='saveQues(this)') save
                    button(type='button', class='remove-ques ui-btn ui-corner-all ui-icon-delete ui-btn-icon-left ui-shadow-icon ui-btn-b', onclick='removeQues(this)') remove

            div(data-role='popup', data-dom-cache='false', id='upload-file', data-inset='true', data-dismissible="false", data-overlay-theme='b')
                a(href='#', data-rel='back', class='ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right') Close
                div(role='main', class='ui-content')
                    form(id='upload-form', action='/quiz/upload', method='post', enctype='multipart/form-data')
                        input(type='file', name='f')
                        div(id='progress-bar-wrap')
                        button(type='submit', class='ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check') upload

            button(type='button', data-theme='b', class='sbmt-btn') Save
        script(src='/javascripts/libs/jquery.validate.min.js', type='text/javascript')
        script(src='/javascripts/libs/jquery.form.min.js', type='text/javascript')
        script(src='/javascripts/createQuiz.js', type='text/javascript')
