//
   Created by leedong-ho on 2014. 5. 18..
extends layout
block stylesheets
block content
    include quizMixin
    div(data-role='page', class='quiz-page', data-dom-cache='false', id='edit-quiz-page')
        div(data-role='header')
            include back_header_btn
            h1 Edit Quiz
        div(role='main' class='ui-content')
            form(action='/quiz/'+ quizSet._id.toString(),method='post', id='quiz-form', data-role='none')
                input(type='hidden', name='_method', value='PUT')
                input(type='hidden', name='quiz_id', value=quizSet._id.toString())
                div(class='ui-field-contain')
                    label Quiz subject :
                    input(type='text', name='quiz_sbjt', placeholder='Input Quiz Subject', value=quizSet.quiz_sbjt, required)
                - var mcCount = 0
                - var saCount = 0
                each qz, idx in quizSet.quiz
                    if qz.type == 'mc'
                        +mc(qz, mcCount++)
                    else
                        +sa(qz, saCount++)

            ul(data-role='listview', data-icon='plus', data-theme='a', data-split-theme='a', data-inset='true')
                li
                    a(href='#', onclick='addMc()')
                        h2 Multiple Choice
                li
                    a(href='#', onclick='addSa()')
                        h2 Short Answer
            include edit_mc_ques_popup
            include upload_file_popup
            button(type='button', data-theme='b', class='sbmt-btn') Save
        script(src='/javascripts/libs/jquery.validate.min.js', type='text/javascript')
        script(src='/javascripts/libs/jquery.form.min.js', type='text/javascript')
        script(src='/javascripts/createQuiz.js', type='text/javascript')
        script(src='/javascripts/editQuiz.js', type='text/javascript')

