//
   Created by leedong-ho on 2014. 6. 23..
extends layout
block content
    div(data-role='page', data-dom-cache='false', id='edit-quiz-list-page')
        div(data-role='header')
            a(href='/user', class='ui-btn ui-icon-arrow-l ui-corner-all ui-btn-b ui-btn-icon-left ui-shadow-icon') Home
            h1 Management Quiz
            button(class='ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-minus', id='quiz-remove-mod-btn', onclick='clickRemoveModeBtn(this)') Remove
        div(role='main', class='ui-content')
            if quizzes
                ul(data-role='listview', data-inset='true', id='edit-quiz-list', data-filter='true', data-filter-placeholder='Search quiz...')
                    each quiz in quizzes
                        li
                            a(href='/quiz/edit/'+ quiz._id.toString(), data-dom-cache='false', data-quiz-id=quiz._id.toString())=quiz.quiz_sbjt
                ul(data-role='listview', data-inset='true', data-theme='b', id='remove-quiz-list', style='display:none')
                    each quiz in quizzes
                        li
                            a(href='#remove-quiz-popup', data-rel='popup', data-transition-to='window', data-transition='pop' data-quiz-id=quiz._id.toString(), class='ui-icon-minus')=quiz.quiz_sbjt

        div(data-role='popup', id='remove-quiz-popup', data-overlay-theme='b', data-theme='b', data-dismissible='false')
            div(data-role='header', data-theme='a')
                h1 Delete Quiz?
            div(role='main',class='ui-content')
                h3(class='ui-title')!='Are you sure you want to delete "<strong id="remove-quiz-title">title</strong>" quiz?'
                p This action cannot be undone.
                p(style='color:red') All quiz's results are removed!
                a(href='#', class='ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b', data-rel='back') Cancel
                a(href='#', class='ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b', data-transition='flow', onclick='removeQuiz(this)') Delete

        script(src='/javascripts/editQuizList.js', type='text/javascript')
