//
   Created by leedong-ho on 2014. 6. 25..
div(data-role='popup', id='edit-mc-ques', data-inset='true')
    div(role='main', class='ui-content')
        form(data-ajax='false')
            input(type='text', name='item', placeholder='Input Question', required)
            label Correct
                input(type='checkbox')
            button(type='button', class='ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check', onclick='saveQues(this)') save
        button(type='button', class='remove-ques ui-btn ui-corner-all ui-icon-delete ui-btn-icon-left ui-shadow-icon ui-btn-b', onclick='removeQues(this)') remove
