//
   Created by leedong-ho on 2014. 6. 8..
extends layout
block content
    div(data-role='page', id='entrance-page', data-dom-cache='false')
        div(data-role='header')
            h1 Welcome Quizy's Student
        div(role='main', class='ui-content')
            form(action='/student/quiz', data-original-action='/student/quiz', method='post', id='entrance-form')
                fieldset
                    legend please enter the lecture's room number
                    div(class='ui-field-contain')
                        label(for='room_idx') room number
                        input(id='room_idx', type='text', name='room_idx', value='')
                    button(class='enter-quiz-btn', type='submit') Enter
        script(src='/javascripts/libs/jquery.validate.min.js', type='text/javascript')
        script(src='/javascripts/libs/jquery.form.min.js', type='text/javascript')
        script(src='/javascripts/entrance.js', type='text/javascript')



