extends layout

block content
  div(data-role='page', id='idx-page')
      div(data-role='header')
        h1 Welcome to Quizy!!
      div(role='main', class='ui-content')
        p Select type of user!
        - var https = '';
        - if(domain && https_port) https = 'https://'+domain+':'+https_port
        - var http = '';
        - if(domain && port) http = 'http://'+domain+':'+port
        a(href='#{https}/user', rel='external', class='ui-btn ui-btn-r') Lecturer
        a(href='#{http}/student', rel='external', class='ui-btn ui-btn-r') Student
      div(data-role='footer')
        h4 Contact Us :
           a(href='mailto:intoday_@naver.com') intoday_@naver.com