doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/jquery.mobile-1.4.2.min.css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700')
        link(rel='stylesheet', href='/stylesheets/quiz.css')
        link(rel='stylesheet', href='/stylesheets/startQuiz.css')
        block stylesheets
        script(src='/javascripts/libs/jquery-1.11.1.min.js', type='text/javascript')
        script(src='/javascripts/libs/jquery.mobile-1.4.2.min.js', type='text/javascript')
        script(src='/javascripts/libs/jquery.validate.min.js', type='text/javascript')
        script(src='/javascripts/common.js', type='text/javascript')
    body
        block content
        block javascripts_in_body