//
   Created by leedong-ho on 2014. 5. 27..
extends layout
block stylesheets
block content
    div(data-role='page', id='login-page', data-dom-cache='false')
        div(data-role='header')
            h1 Quizy Lecurer Login
        div(role='main' class='ui-content')
            form(action='/user/login', method='post', id='login-form', data-ajax='false')
                div(class='ui-field-contain')
                    label email
                    input(type='text', id='email', name='email', placeholder='id@email.com', value='', data-rule-required='true', data-rule-email='true')
                    label password
                    input(type='password', id='pass', name='pass', placeholder='********', value='')
                button(type='submit') login
                a(href='/user/signup', class='ui-btn ui-shadow ui-corner-all', data-dom-cache='false') Signup
                a(href='/user/auth/email', class='ui-btn ui-shadow ui-corner-all', data-dom-cache='false') Resubmit authentication mail
        script(src='/javascripts/libs/jquery.form.min.js', type='text/javascript')
        script(src='/javascripts/login.js', type='text/javascript')