//
   Created by leedong-ho on 2014. 6. 23..
mixin multimedia (upload)
    if upload
        - var contentType = upload.content_type
        - var search = contentType.search('video')
        if search != -1
            video(controls) This browser did not support html5 video
                source(src=upload.url, type=contentType)
        - var search = contentType.search('audio')
        if search != -1
            audio(controls) This browser did not support html5 audio
                source(src=upload.url, type=contentType)
        - var search = contentType.search('image')
        if search != -1
            img(src=upload.url)
mixin is_ans (idx, cor_cb, qzIdx)
    - var cor = false;
    each cb in cor_cb
        if idx == cb
            - cor = true
    if cor
        input(type='checkbox', class='change-idx mc-cb', name='quiz[:%qmc#{qzIdx}%:][cb][]', value=idx, checked='checked')
    else
        input(type='checkbox', class='change-idx mc-cb', name='quiz[:%qmc#{qzIdx}%:][cb][]', value=idx)
mixin mc_ques (items, cb, qzIdx)
    if items
        each item, idx in items
            label=item
                +is_ans(idx, cb, qzIdx)
            input(type='hidden', class='change-idx mc-item', name='quiz[:%qi%:][item][]', value=item)

mixin mc (qz, idx)
    if qz
        div(class='qz-ti-wrap qz-mc', data-idx=idx)
            input(type='hidden', class='change-idx qz-type', name='quiz[:%qi%:][type]', value=qz.type)
            input(type='hidden', class='change-idx qz-upld-url', name='quiz[:%qi%:][upload][url]', value=qz.upload.url)
            input(type='hidden', class='change-idx qz-upld-ct-type', name='quiz[:%qi%:][upload][content_type]', value=qz.upload.content_type)
            div(class='uploaded-data-wrap')
                div(class='inner-wrap')
                    +multimedia(qz.upload)
                if qz.upload && qz.upload.url != ''
                    button(class='remove-file-btn', style='display:block', type='button', onclick='removeUploadedFile(this)', data-icon='minus') Remove File
                else
                    button(class='remove-file-btn', type='button', onclick='removeUploadedFile(this)', data-icon='minus') Remove File
            if qz.upload && qz.upload.url != ''
                button(class='add-file-btn', style='display:none', type='button', onclick='popupToUploadFile(this)', data-icon='plus') Add File
            else
                button(class='add-file-btn', type='button', onclick='popupToUploadFile(this)', data-icon='plus') Add File
            input(type='text', class='change-idx ques', name='quiz[:%qmc#{idx}%:][ques]', placeholder='Question', value=qz.ques, data-rule-required='true')
            fieldset(data-role='controlgroup')
                div(class='error-placement')
                +mc_ques(qz.item, qz.cb, idx)
            button(class='add-ques', type='button', onclick='addMcQues(this)', data-icon='plus') Add Question
            button(type='button', onclick='removeMc(this)', data-icon='minus') Remove Multiple Choice
mixin sa (qz, idx)
    if qz
        div(class='qz-ti-wrap qz-sa', data-idx=idx)
            input(type='hidden', class='change-idx qz-type', name='quiz[:%qi%:][type]', value=qz.type)
            input(type='hidden', class='change-idx qz-upld-url', name='quiz[:%qi%:][upload][url]', value=qz.upload.url)
            input(type='hidden', class='change-idx qz-upld-ct-type', name='quiz[:%qi%:][upload][content_type]', value=qz.upload.content_type)
            div(class='uploaded-data-wrap')
                div(class='inner-wrap')
                    +multimedia(qz.upload)
                if qz.upload && qz.upload.url != ''
                    button(class='remove-file-btn', style='display:block', type='button', onclick='removeUploadedFile(this)', data-icon='minus') Remove File
                else
                    button(class='remove-file-btn', type='button', onclick='removeUploadedFile(this)', data-icon='minus') Remove File
            if qz.upload && qz.upload.url != ''
                button(class='add-file-btn', style='display:none', type='button', onclick='popupToUploadFile(this)', data-icon='plus') Add File
            else
                button(class='add-file-btn', type='button', onclick='popupToUploadFile(this)', data-icon='plus') Add File
            input(type='text', class='change-idx ques', name='quiz[:%qsa#{idx}%:][ques]', placeholder='Question', value=qz.ques, data-rule-required='true')
            input(type='text', class='change-idx ans', name='quiz[:%qsa#{idx}%:][ans]', placeholder='Your Answer', value=qz.ans, data-rule-required='true')
            button(type='button', data-icon='minus', onclick='removeSa(this)') Remove Short Answer