//
   Created by leedong-ho on 2014. 6. 26..
doctype html
html
    head

body
    mixin countOX (arr)
        - var co = 0, cx = 0
        each val in arr
           - if(val == true)
                - ++co
            -else
                - ++cx
        td=co
        td=cx
    mixin countVOOrX (arr, idx, oOrX)
        - var c = 0, len
        - len = arr.length
        - for(var i = 0;i<len;++i)
            - if(arr[i][idx] == oOrX)
                - ++c
        td=c
    mixin avgVOOrX (arr, idx, oOrX)
        - var c = 0, len
        - len = arr.length
        - for(var i = 0;i<len;++i)
            - if(arr[i][idx] == oOrX)
                - ++c
        td=c/len
    style.
        table a:link {
            color: #666;
            font-weight: bold;
            text-decoration: none;
        }

        table a:visited {
            color: #999999;
            font-weight: bold;
            text-decoration: none;
        }

        table a:active,
        table a:hover {
            color: #bd5a35;
            text-decoration: underline;
        }

        table {
            font-family: Arial, Helvetica, sans-serif;
            color: #666;
            font-size: 12px;
            text-shadow: 1px 1px 0px #fff;
            background: #eaebec;
            margin: 20px;
            border: #ccc 1px solid;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            -moz-box-shadow: 0 1px 2px #d1d1d1;
            -webkit-box-shadow: 0 1px 2px #d1d1d1;
            box-shadow: 0 1px 2px #d1d1d1;
        }

        table th {
            padding: 21px 25px 22px 25px;
            border-top: 1px solid #fafafa;
            border-bottom: 1px solid #e0e0e0;
            background: #ededed;
            background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
            background: -moz-linear-gradient(top, #ededed, #ebebeb);
        }

        table th:first-child {
            text-align: left;
            padding-left: 20px;
        }

        table tr:first-child th:first-child {
            -moz-border-radius-topleft: 3px;
            -webkit-border-top-left-radius: 3px;
            border-top-left-radius: 3px;
        }

        table tr:first-child th:last-child {
            -moz-border-radius-topright: 3px;
            -webkit-border-top-right-radius: 3px;
            border-top-right-radius: 3px;
        }

        table tr {
            text-align: center;
            padding-left: 20px;
        }

        table td:first-child {
            text-align: left;
            padding-left: 20px;
            border-left: 0;
        }

        table td {
            padding: 18px;
            border-top: 1px solid #ffffff;
            border-bottom: 1px solid #e0e0e0;
            border-left: 1px solid #e0e0e0;
            background: #fafafa;
            background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
            background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
        }

        table tr.even td {
            background: #f6f6f6;
            background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
            background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
        }

        table tr:last-child td {
            border-bottom: 0;
        }

        table tr:last-child td:first-child {
            -moz-border-radius-bottomleft: 3px;
            -webkit-border-bottom-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        table tr:last-child td:last-child {
            -moz-border-radius-bottomright: 3px;
            -webkit-border-bottom-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        table tbody tr:hover td {
            background: #f2f2f2;
            background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
            background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
        }
        table tfoot td {
            padding: 11px 15px 12px 15px;
            background: #213540;
            color:white;
            text-shadow: 1px 1px 0px #000;
        }
    - if (quiz && quizAllRes)
        table
            thead
                tr
                    th name
                    -for(var i = 0;i < quiz.quiz.length;++i)
                        th=quiz.quiz[i].ques
                    th Sum O
                    th Sum X
                    th Percent
            tbody
                - var map = new Array();
                each qzResSet,uIdx in quizAllRes
                    tr(style='border-bottom:1px solid gray')
                        - var qzRes = qzResSet.quiz_res
                        - var qzResType = qzRes.type
                        - map.push(new Array())
                        - var hco = 0
                        - var hcx = 0
                        td=qzRes.name
                        each qzItem, qIdx in qzRes.quiz
                            if qzRes.type[qIdx] == 'mc'
                                if qzItem.correct_cb
                                    - map[uIdx].push(false)
                                    - ++hcx
                                    td X
                                else
                                    - ++hco
                                    - map[uIdx].push(true)
                                    td O
                            else
                                if qzItem.correct_ans
                                    - ++hcx
                                    - map[uIdx].push(false)
                                    td X
                                else
                                    - ++hco
                                    - map[uIdx].push(true)
                                    td O
                        +countOX (map[uIdx])
                        - var percent = (hco/(hco+hcx))*100
                        td #{percent}%
            tfoot
                tr
                    td Sum O
                    - for(var i = 0;i<quiz.quiz.length;++i)
                        +countVOOrX(map, i, true)
                tr
                    td Sum X
                    - for(var i = 0;i<quiz.quiz.length;++i)
                        +countVOOrX(map, i, false)
                tr
                    td Avg O
                    - for(var i = 0;i<quiz.quiz.length;++i)
                        +avgVOOrX(map, i, true)
                tr
                    td Avg O
                    - for(var i = 0;i<quiz.quiz.length;++i)
                        +avgVOOrX(map, i, false)


