//
   Created by leedong-ho on 2014. 6. 8..
extends layout
block content
    div(data-role='page', data-dom-cache='false', id='res-quiz-list-page')
        div(data-role='header')
            include back_header_btn
            h1 Ended Quiz List
        div(role='main', class='ui-content')
            if quizzes
                ul(data-role='listview', data-inset='true', data-filter='true', data-filter-placeholder='Search quiz...')
                    each quiz in quizzes
                        li
                            a(href='/quiz/result/'+ quiz._id.toString())=quiz.quiz_sbjt
