//
   Created by leedong-ho on 2014. 6. 8..
extends layout
block content
    div(data-role='page', data-dom-cache='false', id='res-quiz-list-page')
        div(data-role='header')
            include back_header_btn
            h1 "#{quiz.quiz_sbjt}" Quiz Result
            a(href='#report-quiz-popup', data-rel='popup', data-position-to='window', data-transition='pop', class='ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-mail', id='quiz-remove-mod-btn') Report
        div(role='main', class='ui-content')
            if resQuizzes
                ul(data-role='listview', data-inset='true', data-filter='true', data-filter-placeholder='Search Student...')
                    each qzRes in resQuizzes
                        li
                            a(href='/quiz/result/student/'+ qzRes._id.toString(), data-ajax='false')=qzRes.quiz_res.name
        div(data-role='popup', id='report-quiz-popup', data-overlay-theme='b', data-theme='b')
            div(data-role='header', data-theme='a')
                h1 Report Quiz
            div(role='main',class='ui-content')
                h3(class='ui-title')!='Choose "<strong id="remove-quiz-title">title</strong>" report quiz type'
                - var defaultPath = '/quiz/report/'+ quiz._id.toString();
                a(href=defaultPath, class='ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-right ui-icon-forward') Html
                a(href=defaultPath + '?xlsx=true', class='ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-right ui-icon-action', data-transition='flow', rel='external') Download Xlsx
                button(data-url=defaultPath + '?email=true', class='ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-right ui-icon-mail', data-transition='flow', onclick='reportQuiz(this)') html Email
                button(data-url=defaultPath + '?xlsx=true&email=true', class='ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-right ui-icon-mail', data-transition='flow', onclick='reportQuiz(this)') Xlsx Email
                a(data-url='#', class='ui-btn ui-corner-all ui-shadow ui-btn-b', data-rel='back') Cancel
        script(src='/javascripts/resStudentQuizList.js', type='text/javascript')