//
     Created by leedong-ho on 2014. 5. 27..
extends layout
block stylesheets
block content
    div(data-role='page', id='signup-page')
        div(data-role='header')
            h1 Quizy Lecturer Sign Up
        div(role='main' class='ui-content')
            form(action='/user/new', method='post', id='signup-form', data-ajax='false')
                div(class='ui-field-contain')
                    label email
                    input(type='text', id='email', name='email', placeholder='id@email.com', value='')
                    label password
                    input(type='password', id='pass', name='pass', placeholder='********', value='')
                    label password confirm
                    input(type='password', id='pass_again', name='pass_again', placeholder='********', value='')
                button(type='submit') signup
        script(src='/javascripts/signup.js', type='text/javascript')