//
   Created by leedong-ho on 2014. 6. 8..
extends layout
block content
    mixin multimedia (upload)
        if upload
            div(class='uploaded-data-wrap')
                - var contentType = upload.content_type
                - var search = contentType.search('video')
                if search != -1
                   video(controls) This browser did not support html5 video
                    source(src=upload.url, type=contentType)
                - var search = contentType.search('audio')
                if search != -1
                   audio(controls) This browser did not support html5 audio
                       source(src=upload.url, type=contentType)
                - var search = contentType.search('image')
                if search != -1
                    img(src=upload.url)

    div(data-role='page', id='solving-quiz-page', data-dom-cache='false')
        //
            div(data-role='header')
                a(href='/user', class='ui-btn ui-btn-inline ui-btn-icon-left') Back
        div(role='main', class='ui-content')
            form(action='/student/quiz/submit/'+ quiz_set._id.toString(), id='solve-quiz-form', method='post', data-ajax='false')
                div
                    div(class='ui-field-contain')
                        label Student name :
                        input(type='text', name='name', placeholder='Input your name', data-rule-required='true')
                if quiz_set
                    each qz, qzIdx in quiz_set.quiz
                        if qz.type == 'mc'
                           div(class='qz-ti-wrap qz-mc')
                               input(type='hidden', name='type', value=qz.type)
                               fieldset(data-role='controlgroup', class='ui-controlgroup ui-controlgroup-vertical ui-group-theme-b ui-corner-all')
                                   div(role='heading', class='ui-controlgroup-label')
                                       +multimedia(qz.upload)
                                       legend=qz.ques
                                       div(class='error-placement')
                                   div(class='ui-controlgroup-controls')
                                       each item, itIdx in qz.item
                                           label=item
                                               input(type='checkbox', class='mc-cb', name='quiz[' + qzIdx + '][cb][]', value=itIdx, data-rule-required='true', data-rule-minlength='1')
                        else
                            div(class='qz-ti-wrap qz-sa')
                                input(type='hidden', name='type', value=qz.type)
                                +multimedia(qz.upload)
                                label=qz.ques
                                input(type='text', name='quiz[' + qzIdx + '][ans]', data-rule-required='true')
                button(type='submit') Submit
        script(src='/javascripts/libs/jquery.validate.min.js', type='text/javascript')
        script(src='/javascripts/libs/jquery.form.min.js', type='text/javascript')
        script(src='/javascripts/solveQuiz.js', type='text/javascript')





