//
   Created by leedong-ho on 2014. 6. 8..
extends layout
block content
    div(data-role='page', id='start-quiz-page', data-dom-cache='false')
        div(data-role='header')
            include back_header_btn
            h1 Start Quiz
        div(role='main', class='ui-content')
            if user
                div(class='msg-box')
                    p Room number is <strong>#{user.room_idx}</strong>
            if quiz
                button(class='start-btn', data-quiz-id=quiz._id.toString(), onclick='startQuiz(this)') Start
                button(class='end-btn ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check', data-quiz-id=quiz._id.toString(), onclick='endQuiz(this)') End
        script(src='/javascripts/startQuiz.js', type='text/javascript')
        if quiz.start
            script(type='text/javascript').
                $('#start-quiz-page').on('pageshow',function(){
                    startQuiz($('.start-btn'), true);
                });



