//
   Created by leedong-ho on 2014. 6. 8..
extends layout
block stylesheets
block content
    div(data-role='page', data-dom-cache='false', id='start-quiz-list-page')
        div(data-role='header')
            a(href='/user', class='ui-btn ui-icon-arrow-l ui-corner-all ui-btn-b ui-btn-icon-left ui-shadow-icon') Home
            h1 Start Quiz
        div(role='main', class='ui-content')
            if quizzes
                ul(data-role='listview', data-inset='true', data-filter='true', data-filter-placeholder='Search quiz...')
                    each quiz in quizzes
                        li
                            a(href='/quiz/start/'+ quiz._id.toString())=quiz.quiz_sbjt

