//
   Created by leedong-ho on 2014. 6. 10..
extends layout
block content
    mixin is_cor_cb (idx, cbs, item)
        - var cor = false
        each cb in cbs
            if idx == cb
                - cor = true
        if cor
            li(class='ui-icon-check ui-btn-icon-right')
                strong(style='color:red')=item
        else
            li=item
    mixin mc (qz, qzRes)
        div(data-role='collapsible')
            h2=qz.ques
            ul(data-role='listview')
                - for(var i = 0;i < qz.item.length;++i)
                    - var item = qz.item[i]
                        +is_cor_cb(i, qz.cb, item)
        div(data-role='collapsible',data-theme='b', data-content-theme='b')
            if qzRes.correct_cb
                h2 Wrong answer
            else
                h2 Correct answer
            ul(data-role='listview')
                - for(var i = 0;i < qz.item.length;++i)
                    - var item = qz.item[i]
                        +is_cor_cb(i,qzRes.cb, item)
    mixin sa (qz, qzRes)
        div(data-role='collapsible')
            h2=qz.ques
            ul(data-role='listview')
                li=qz.ans
        div(data-role='collapsible',data-theme='b', data-content-theme='b')
            if qzRes.correct_ans
                h2 Wrong answer
            else
                h2 Correct answer
            ul(data-role='listview')
                li=qzRes.ans

    div(data-role='page', id='student-quiz-res-page')
        div(data-role='header')
            include back_header_btn
            h1='\"' + quizRes.quiz_res.name + "\" report"
        div(role='main', class='ui-content')
            - for(var i = 0;i < quiz.quiz.length;++i)
                - var qz = quiz.quiz[i], qzRes = quizRes.quiz_res.quiz[i]
                if qz.type == 'mc'
                    +mc(qz, qzRes)
                else
                    +sa(qz, qzRes)

