//
   Created by leedong-ho on 2014. 6. 25..
div(data-role='popup', data-dom-cache='false', id='upload-file', data-inset='true', data-dismissible="false", data-overlay-theme='b')
    a(href='#', data-rel='back', class='ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right') Close
    div(role='main', class='ui-content')
        form(id='upload-form', action='/quiz/upload', method='post', enctype='multipart/form-data')
            input(type='file', name='f')
            div(id='progress-bar-wrap')
            button(type='submit', class='ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check') upload