//
   Created by leedong-ho on 2014. 6. 4..
extends layout
block stylesheets
block content
    div(data-role='page', id='user-menu-page', data-dom-cache='false')
        div(data-role='header')
            h1 Quizy Lecture Home
            button(class='ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-minus', onclick='logout(this)') Logout
        div(role='main', class='ui-content')
            ul(data-role='listview', data-inset='true', data-theme='b')
                li
                    a(href="/quiz/new", data-dom-cache='false', rel='external') Create Quiz
                li
                    a(href="/quiz/edit", data-dom-cache='false') Manage Quiz
                li
                    a(href="/quiz", data-dom-cache='false') Start Quiz
                li
                    a(href="/quiz/result", data-dom-cache='false') Quiz Result
        script(src='/javascripts/userMenu.js', type='text/javascript')
