//
   Created by leedong-ho on 2014. 6. 8..
extends layout
block content
    div(data-role='page', id='waiting-page', data-dom-cache='false')
        div(role='main', class='ui-content')
            a(href='/student' class='ui-btn ui-btn-b ui-corner-all') Go to home
        if room_idx
            form(action='/student/quiz/exist/' + room_idx, id='waiting-form')
            script(src='/javascripts/libs/jquery.form.min.js', type='text/javascript')
            script(src='/javascripts/waitingQuiz.js', type='text/javascript')

