.qz-ti-wrap {
    margin-top:3em;
    margin-bottom:3em;
}
.remove-file-btn {
    display:none;
}
.uploaded-data-wrap
{
    margin-top:1em;
    margin-bottom:1em;
}
.uploaded-data-wrap,
.uploaded-data-wrap > .inner-wrap {
    text-align:center;
}
.uploaded-data-wrap video
{
    cursor:pointer;
}
.uploaded-data-wrap img,
.uploaded-data-wrap video,
.uploaded-data-wrap audio
{
    max-width: 90%;
}
.error {
    color : red;
}